/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

	0. 	CSS Reset
	1. 	Elementos Gerais
	2. 	Menu Navegação
	3. 	Cabeçalho
	4. 	Seção Notícias
	5. 	Seção Eventos
	6. 	Seção Sobre
	7. 	Seção Financeiro
	8.  Seção Fale Conosco
	9.  Seção Agende seu evento ou Seja Sócio
	10. Rodapé
----------------------------------------------------------------------------- */


/*--------------------------------------------------------------
>>> 0 - CSS Reset
----------------------------------------------------------------
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}


/*--------------------------------------------------------------
>>> 1 - Elementos Gerais
----------------------------------------------------------------
*/

body {
    box-sizing: border-box;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: -0.015em;
    text-align: left;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hind', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    background-color: transparent;
}

button {
    display: inline-block;
    border: none;
    border-radius: 8px;
    margin: 0;
    text-decoration: none;
    background: #057db2;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    padding: .402777775rem .80555555rem;
    transition: all .2s ease-in-out;
}

button:hover {
    background: #1b2d58;
    color: #fff;
    transform: scale(1.01);
}

p {
    font-size: 1em;
}

.title-section {
    text-align: center;
    color: #1b2d58;
    font-size: 2.5em;
    font-weight: 900 !important;
    font-family: 'Hind', sans-serif !important;
    text-transform: capitalize;
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
    .container-medium {
        max-width: 1140px;
    }
}


/*--------------------------------------------------------------
>>> 2 - Menu Navegação
----------------------------------------------------------------
*/


/* Logo ---------------------------------- */

.logo {
    width: 100px;
    border-radius: 8px;
    height: auto;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.01);
}

.logo img {
    width: 90px;
    justify-content: center;
    padding-left: 3.2%;
}


/* Menu ---------------------------------- */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#mainNav {
    min-height: 3.5rem;
}

#mainNav .navbar-nav .nav-item:hover {
    color: #fff;
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

#mainNav .nav-link {
    color: #fff;
    font-weight: 600;
    transition: all .2s ease-in-out;
    font-size: 1em;
}

#mainNav .nav-link:hover {
    color: #057db2;
    transform: scale(1.05);
}


/* Menu Toggler ---------------------------------- */

#mainNav .navbar-toggler {
    font-size: 100%;
    padding: 0.75rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    background: #057db2;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

.navbar .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    align-items: center;
    margin-left: auto !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav {
    align-items: center;
}

.drop-link {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #1b2d58;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    transition: all .2s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #1b2d58;
    color: #fff;
    transform: scale(1.01);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*
@media (max-width: 575.98px) {
    .navbar-expand-lg > .container{

    }
}
@media (min-width: 576px) {
    .navbar-expand-lg > .container{

    }
}
@media (max-width: 767.98px) {
    .navbar-expand-lg > .container{

    }
}
@media (min-width: 768px) {
    .navbar-expand-lg > .container{

    }
}*/

@media (max-width: 991.98px) {
    .navbar-expand-lg>.container {
        padding: 20px 15px;
    }
    #mainNav {
        min-height: 3.5rem;
        background-color: #fff;
        /*Background Menu*/
    }
    .icons {
        padding: 2rem 1.5rem;
        font-size: 1em;
        color: #1b2d58;
        transition: all .2s ease-in-out;
    }
    .icons:hover {
        color: #057db2;
        transform: scale(1.05);
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg>.container {
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: 0.5rem 0;
    }
    #mainNav .nav-link {
        padding: 1.5rem 1.5rem 1.25rem;
        font-weight: 600;
        padding: 14px 16px;
    }
    #mainNav .nav-link:hover {
        color: #057db2;
        transform: scale(1.05);
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        transition: background-color 0.3s ease-in-out;
        background-color: #fff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #1b2d58;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #1b2d58;
    }
    #mainNav.navbar-shrink .nav-link:hover {
        color: #13a9e2;
    }
    #mainNav.navbar-shrink .nav-link:active {
        color: #13a9e2;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #13a9e2;
        outline: none;
        border-bottom: 0.25rem solid #13a9e2;
    }
    .logo {
        width: 155px;
    }
    .logo img {
        width: 149px;
    }
    .icons {
        padding: 2rem 1.5rem;
        font-size: 2em;
        color: #fff;
        transition: all .2s ease-in-out;
    }
    .icons:hover {
        color: #057db2;
        transform: scale(1.05);
    }
    .navbar-shrink .icons {
        color: #1b2d58;
    }
    .navbar-shrink .icons:hover {
        color: #057db2;
        transform: scale(1.05);
    }
    .navbar-shrink .logo {
        background: #057db2;
    }
}


/*--------------------------------------------------------------
>>> 3 - Cabeçalho
----------------------------------------------------------------
*/

header {
    margin-top: 0px;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    position: relative;
    align-items: center;
}

header h1 {
    color: #fff;
    font-weight: 900;
    font-family: 'Hind', sans-serif;
    font-size: 4.5em;
    line-height: 50px;
    margin-top: -32px;
    text-shadow: #222 2px 4px 10px;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 50rem;
    padding: 15rem 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.45) 75%, #000000 100%), url(../assets/img/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
}

.masthead button {
    margin-top: 2%;
}


/*--------------------------------------------------------------
>>> 4 - Seção Notícias
----------------------------------------------------------------
*/


/* --------------- Owl Carousal End --------------- */

#news {
    padding-top: 3em;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 8px;
    margin: 20px;
    /*box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;*/
    box-shadow: 0 8px 60px 0 rgb(201 201 201 / 11%), 0 12px 90px 0 rgb(134 209 247 / 11%);
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
    border-top: 0;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 8px;
    padding-top: 3rem;
}

.card-title {
    text-align: center;
    margin-bottom: 0.75rem;
    font-family: 'Hind', sans-serif;
    font-size: 1.2em;
    color: #1b2d58;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: 8px 8px 8px 8px;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 8px 8px 8px 8px;
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    border-radius: 8px;
}

.card-img,
.card-img-top,
.card-img-bottom {
    flex-shrink: 0;
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card-deck .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-deck {
        display: flex;
        flex-flow: row wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
    .card-deck .card {
        flex: 1 0 0%;
        margin-right: 0.75rem;
        margin-bottom: 0;
        margin-left: 0.75rem;
    }
}

.card-group>.card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }
    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }
    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }
}

.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-columns {
        -moz-column-count: 3;
        column-count: 3;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}


/*--------------------------------------------------------------
>>> 5 - Seção Eventos
----------------------------------------------------------------
*/

#event {
    padding-top: 1em;
    margin-top: 5%;
    padding-bottom: 5%;
    background: #f1f1f1;
}

.event {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.event .card {
    margin: 0px;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
}

.event .carousel {
    margin-top: 2%;
}

.controls {
    margin-top: 2%;
    text-align: center;
}

.controls a {
    color: #1b2d58;
    font-size: 1.5em;
    padding-right: 2%;
    padding-left: 2%;
}

.card button {
    margin-top: 5%;
}

#textovideo h2 {
    color: #fff;
    font-weight: 900;
    font-family: 'Hind', sans-serif;
    font-size: 4.5em;
    text-shadow: #222 2px 4px 10px;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.after,
.before {
    height: 0px;
}

#textovideo {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    filter: grayscale(20%);
}

#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -100;
}


/*--------------------------------------------------------------
>>> 6 - Seção Sobre
----------------------------------------------------------------
*/

#about {
    padding-top: 3em;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

#about p {
    margin-bottom: 1%;
}


/*--------------------------------------------------------------
>>> 7 - Seção Financeiro
----------------------------------------------------------------
*/

#financial {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

#financial p {
    margin-bottom: 1%;
}


/*--------------------------------------------------------------
>>> 8 - Fale Conosco
----------------------------------------------------------------
*/

#contact {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

#contact p {
    margin-bottom: 1%;
}

textarea.form-control {
    height: 100px;
}

#contact .form-control {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-bottom: 5%;
}

#contact .form-control::placeholder {
    color: #6c757d;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
}

#contact button {
    margin-top: 3%;
}

#contact .row {
    width: 900px;
}


/*--------------------------------------------------------------
>>> 9 - Seção Agende seu evento ou Seja Sócio
----------------------------------------------------------------
*/

#signup {
    display: flex;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 13%;
    background: #86d1f7;
    color: #1b2d58;
}

#signup .form-control {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-bottom: 3%;
    margin-top: 3%;
}

#signup .row {
    width: 900px;
    justify-content: center;
}


/*--------------------------------------------------------------
>>> 10 - Rodapé
----------------------------------------------------------------
*/